:root {
  --main-color: #212121;
  --background: #ffffff;
  --secondary-text: #757575;
  --color-active: #2196f3;
  --color-logo: #000000;
  --bacground-button: #f5f4fa;
  --background-footer: #2f303a;
  --footer-contacts: rgba(255, 255, 255, 0.6);
  --background-hero: #c4c4c4;
  --social-color: #afb1b8;
  --hero-active-button: #188ce8;
}
/* ======= main styles ======== */
body {
  font-family: "Roboto", "Verdana", "Tahoma", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: var(--background);
}

h1,
h2,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li,
ul,
ol,
a {
  list-style: none;
  padding: 0;
  margin: 0;
}

header {
  border-bottom: 1px solid #ececec;
}

/* ======= projects-list Portfolio  ========= */
.projects-list {
  display: flex;
  flex-wrap: wrap;
}

.projects-list .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.projects-list .item:nth-child(-n + 6) {
  margin-bottom: 30px;
}

.projects-list .item:nth-child(n + 7) {
  margin-bottom: 94px;
}

.projects h3 {
  margin-right: 24px;
  margin-left: 24px;
  margin-top: 0px;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-top: 20px;
}

.card > p {
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text);
}

.card {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

a {
  text-decoration: none;
  color: inherit;
}

.hidden {
  display: none;
  margin: 0;
  padding: 0;
}

.projects-list > .item {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list > .item:hover,
.projects-list > .item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* ============ flex styles ============ */
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.header,
.nav-list,
.contacts-list,
.nav {
  display: flex;
  align-items: center;
}

/* .logo {
  margin-left: 15px;
} */

ul.contacts-list {
  padding: 0;
  /* margin-right: 15px; */
  margin-left: auto;
}

.nav-list > .item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts-list .item + .item {
  margin-left: 50px;
}

.nav-list {
  margin-left: 93px;
}

/* ============== about Flex ========== */

.about {
  display: flex;
  margin-top: 94px;
  margin-bottom: 94px;
}

.about .item + .item {
  margin-left: 30px;
}

/* ========== what-we-do Flex========= */

.what-we-do-list {
  display: flex;
  margin-bottom: 94px;
  position: relative;
}

.what-we-do-list .item img {
  background-color: rgba(47, 48, 58, 0.8);
  height: 100%;
}

.what-we-do-list .item + .item {
  margin-left: 30px;
}

.description {
  display: block;
  position: absolute;
  bottom: 0;
  padding-bottom: 27px;
  padding-top: 27px;
  margin: 0;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background);
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
}

/* ========= team  Flex=========== */

.what-we-do .title,
.clients .title,
.team .title {
  padding-bottom: 50px;
  padding-top: 94px;
}

.what-we-do .title {
  padding-top: 85px;
}

.team-list {
  display: flex;
  padding-bottom: 94px;
}

.team-list .item + .item {
  margin-left: 30px;
}

.team-list .item h3 {
  padding-top: 30px;
  padding-bottom: 10px;
  margin: 0;
}

.team {
  background-color: var(--bacground-button);
}

.team p {
  padding-bottom: 16px;
}

.team-cards {
  background: var(--background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* ========= logo ========================== */
.logo-first {
  color: var(--color-active);
}

.logo-second {
  color: var(--color-logo);
}

.logo-first,
.logo-second {
  font-family: "Raleway", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* ======== Navigation ========================== */
.nav-link,
.contacts {
  color: var(--main-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

a.active-page {
  color: var(--color-active);
  font-weight: bold;
}

.active-page::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;

  height: 4px;
  background-color: var(--color-active);
  border-radius: 2px;
}

.nav-list .item {
  position: relative;
}

.nav-link:hover,
.nav-link:focus,
.contacts:hover,
.contacts:focus {
  color: var(--color-active);
}

.contacts {
  color: var(--secondary-text);
}

/* ======= Footer =============================== */
.footer .container {
  display: flex;
  align-items: baseline;
}

.logo-footer {
  display: block;
  padding-top: 60px;
  margin-bottom: 20px;
}

.footer {
  background-color: var(--background-footer);
}

.footer .logo-first {
  color: var(--color-active);
}

.footer .logo-second,
.address {
  color: var(--background);
}

.footer .contacts,
.footer .address {
  font-style: normal;
  color: var(--footer-contacts);
  font-size: 14px;
  line-height: 1.71;
}

.footer .address {
  color: var(--background);
}

.address-list {
  padding-bottom: 60px;
  width: 231px;
}

.address-list .item + .item {
  margin-top: 4px;
}

.social {
  margin-left: 70px;
  margin-top: 72px;
  margin-bottom: 100px;
  /* outline: #afb1b8 solid 2px; */
}
.social .social-item {
  padding-right: 0;
  padding-left: 0;
}

.social h3 {
  font-size: 14px;
  margin-bottom: 18px;
  color: var(--background);
}

.footer .social-links {
  margin-right: 0;
  margin-left: 0;
  padding: 0;
}

.footer .social-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  fill: var(--background);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding-bottom: 0;
}

/* ========== Filters ======================= */

.filters {
  display: flex;
  background-color: var(--background);
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 94px;
}

.filters .item + .item {
  margin-left: 8px;
}

.buttons {
  display: inline-block;
  background-color: var(--bacground-button);
  color: var(--main-color);
  cursor: pointer;
  font-family: "Roboto", "Verdana", "Tahoma", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  border-color: transparent;
}

.hero .buttons {
  display: inline-block;
  margin-bottom: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  background-color: var(--color-active);
  font-weight: bold;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  min-width: 200px;
  color: var(--background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.buttons:hover,
.buttons:focus {
  background-color: var(--color-active);
  color: var(--background);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  transition-property: background-color box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero .buttons:hover,
.hero .buttons:focus,
.email-button:hover,
.email-button:focus,
.modal-button:hover,
.modal-button:focus {
  background-color: var(--hero-active-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ======== Studio ================== */

.about p,
.team p {
  color: var(--secondary-text);
}

.about h3,
.social h3,
.email-label {
  display: block;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0;
}

.about h3 {
  margin-bottom: 10px;
}

/* ========== Hero ============ */

.hero {
  max-width: 1600px;
  background-color: var(--background-hero);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-img.jpg);
  background-position: center;
  background-size: cover;
}

.hero h1 {
  width: 696px;
  display: block;
  margin-bottom: 30px;
  padding-top: 200px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background);
}

.what-we-do .title,
.team .title,
.clients .title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team h3,
.team p {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team h3 {
  font-weight: 500;
}
/* ================ icons ============== */
.icon-envelope,
.icon-smartphone {
  display: inline-block;
  margin-right: 10px;
  fill: var(--secondary-text);
  align-items: center;
}
.contacts:hover .icon-envelope,
.contacts:focus .icon-envelope,
.contacts:hover .icon-smartphone,
.contacts:focus .icon-smartphone {
  fill: var(--color-active);
}

.contacts {
  display: flex;
  align-items: center;
}

.about-icon {
  width: 270px;
  height: 120px;
  background-color: var(--bacground-button);
  padding: 25px 100px;
  margin-bottom: 30px;
  border-radius: 4px;
}

/* ================ social-links ============== */

.social-links {
  display: flex;
  padding-bottom: 30px;
  margin-right: 32px;
  margin-left: 32px;
  justify-content: center;
}

.social-link:hover,
.social-link:focus {
  fill: var(--background);
  background-color: var(--color-active);
  border-radius: 50%;
  border: 1px solid transparent;
}

.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  fill: var(--social-color);
  border-radius: 50%;
  border: 0px solid transparent;

  transition-property: fill, background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item:not(:last-child) {
  margin-right: 10px;
}
/* ============== clients =========== */
.clients-list {
  display: flex;
  padding-bottom: 94px;
}

.client-link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: var(--social-color);

  transition-property: fill border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  fill: var(--color-active);
  border: 1px solid var(--color-active);
}

.client-item:not(:last-child) {
  margin-right: 30px;
}
/* ============ overlay for portfolio========= */

.project-overley {
  position: relative;
  overflow: hidden;
}

.project-text {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);

  height: 100%;
  width: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--background);
  font-size: 18px;
  line-height: 1.56;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list .link:hover .project-text,
.projects-list .link:focus .project-text {
  transform: translateY(0);
}

/* =============== modal ================== */

.backdrop {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--background);
  transform: translate(-50%, -50%);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.75);
}

.close-button {
  display: block;
  padding: 7px;
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--background);
  cursor: pointer;
}

.icon-close,
.icon-check {
  display: block;
  fill: var(--color-logo);
}

/* ---- Form modal-window styles ---- */

.form-container {
  margin-top: 40px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 40px;
}

.form-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-top: 0;
  margin-bottom: 12px;
}

.form-fild,
.comment-fild,
.policy-fild {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
}

.comment-fild {
  margin-bottom: 20px;
}

.policy-fild {
  margin-bottom: 30px;
}

.form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--secondary-text);
}

.comment-fild {
  margin-bottom: 20px;
}

.icon-form {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--main-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-fild:focus-within .icon-form {
  fill: var(--color-active);
}

.comment-input,
.modal-input {
  display: block;

  font-size: 14px;
  line-height: 1.14;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 16px;
  padding-left: 16px;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 0;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
  padding-left: 42px;
  max-height: 40px;
}

.comment-input {
  resize: none;
  height: 120px;
}

.modal-input:focus,
.comment-input:focus {
  outline-color: 1px solid var(--color-active);
  border: 1px solid var(--color-active);
}

.policy-label {
  position: relative;
  padding-left: 36px;
  color: var(--secondary-text);
  cursor: pointer;
}

.policy-link {
  color: var(--color-active);
  text-decoration: underline;
}

.modal-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.checkbox-policy {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  height: 15px;
  width: 16px;
  background-color: var(--background);
  border: 2px solid var(--main-color);
  border-radius: 4px;
  outline: none;
}

.policy-custom:checked ~ .checkbox-policy {
  background-color: var(--color-active);
  background-origin: border-box;
  border-color: var(--color-active);
}

.policy-custom:focus ~ .checkbox-policy {
  border: 2px solid var(--color-active);
}

.policy-hidden {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
/* ========== Forms ======= */

.email-label {
  color: var(--background);
  margin-bottom: 20px;
  font-size: 14px;
}

.email-icon {
  fill: var(--background);
}

.email-button,
.modal-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 200px;
  min-height: 50px;
  padding: 0;
  border: none;

  cursor: pointer;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--background);
  background-color: var(--color-active);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.email-button > span {
  margin-right: 10px;
}

.email-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6);
}

.email-input:focus {
  outline: none;
}

.form {
  display: flex;
  align-items: flex-end;
  margin-left: 93px;
}
/* .footer .container {
  display: flex;
  align-items: baseline;
} */
