:root {
  --main-color: #212121;
  --background: #ffffff;
  --secondary-text: #757575;
  --color-active: #2196f3;
  --color-logo: #000000;
  --bacground-button: #f5f4fa;
  --background-footer: #2f303a;
  --footer-contacts: rgba(255, 255, 255, 0.6);
  --background-hero: #c4c4c4;
  --social-color: #afb1b8;
  --hero-active-button: #188ce8;
}
