/* ======== about ============== */
.about {
  display: flex;
  margin-top: 94px;
  margin-bottom: 94px;
}

.about__item:not(:last-child) {
  margin-right: 30px;
}

.about__text {
  color: var(--secondary-text);
}

.about__title {
  display: block;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.about__icon {
  width: 270px;
  height: 120px;
  background-color: var(--bacground-button);
  padding: 25px 100px;
  margin-bottom: 30px;
  border-radius: 4px;
}
